RewriteEngine on
RewriteRule ^(\w+)/(\w+)/(\w*)$  view/$1/$2.php?args=$3
RewriteRule ^accueil$  view/accueil.php
RewriteRule ^json/(\w+)/([a-zA-Z]+)/(.*)$ controller/$1Controller.php?methods=$2&args=$3
 